/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(32, 92, 84);
  color: white;
  /* background-color: rgb(24, 61, 223); */
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* --- layout --- */

#main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  width:150px;
  height: 40px;
  color: red;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  border: 4px solid black;
  border-radius: 3px;
  transition-duration: 0.7s;
  background-color: yellow;
}

button:hover {
  background-color: red;
  color: yellow;
}

button.margin-btw-startbuttons {
  margin-bottom: 20px;
}

.background{
  position: relative;
  background-image: url('./img/kame-house02v2.png');
  /* background-image: url('./img/Kame_House.jpg'); */
  background-position:  center;
  background-size: 100%;

  width: 100%;
  height: 100%;
}
.background-gameoverP1{
  position: relative;
  background-image: url('./img/fondo-gameover2.png');
  /* background-image: url('./img/Kame_House.jpg'); */
  background-position:  center;
  background-size: 100%;

  width: 100%;
  height: 100%;

}
.background-gameoverP2{
  position: relative;
  background-image: url('./img/fondo-gameover3.png');
  /* background-image: url('./img/Kame_House.jpg'); */
  background-position:  center;
  background-size: 100%;

  width: 100%;
  height: 100%;

}

.container {
  padding: 10px 13px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* --- components --- */
.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom:100px;
  left: 120px;
}
.gameover{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 50px;
  color:black;
  background-color: #fefefe;
  border: 5px solid black;
  padding: 20px 20px;
  
  
}




.splash__title {
  margin-bottom: 10px;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.game__header {
  display: flex;
  justify-content: space-between;
  height: 10%;
 }


.game__canvas {
  width: 100%;
  position: relative;
  width: 100%;
  height: 90%; 
}  

/* Splash Header */
.player1{
  display: flex;
  margin-bottom: 10px;
}
.player2{
  display: flex;
  margin-bottom: 10px;
}
.player1 img{
  margin-right: 20px;

}
.player2 img{
  margin-right: 20px;
  height: 40px;
}
.player1 .distance1{
  margin: 2px;
  font-size: 16px;
}
.player2 .distance2{
  margin: 2px;
  font-size: 16px;
}

.canvas {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;

}

.game__wrapper{
   position: relative;
  width: 100%;
   height: 90%; 
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -1997px 0; }
}
.screenOne{
   background: url('./img/screen1new.png')repeat 0 0; 
   -webkit-animation: slide 15s linear infinite;
   
  width: 100%;
  height: 50%;
  /* background-color: blue; */
  position: absolute;
  /* transform: scaleX(-1); */
  

}
.screenTwo{
  background-image: url('./img/screen2new.jpg');
  -webkit-animation: slide 15s linear infinite;
  /* background-color: aqua; */
  width: 100%;
  height: 50%;
  position: absolute;
  top:50%;
}
.middle{
  /* display:flex; */
  height: 42px;
  /* width: 105px; */
  

}


/* MODAL INSTRUCTIONS */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(106, 232, 236, 0.315); /* Black w/ opacity */
  color: black;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid black;
  width: 60%; /* Could be more or less, depending on screen size */
  /* height: 70%; */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;


}

/* MODAL BOX ::: CONTENT */

div.controls-container {
  display: flex;
  flex-direction: column;
}
div.controls-container p{
  text-align: right;
  font-weight: 600;
  font-size: 2em;

}
div.controls-goku {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
}

    div.goku-picture {
      margin: auto 0;
      padding-left: 50px;
    }
    
    div.goku-controls {
      /* margin: auto auto; */
      /* width: 50%; */
    }
            div.goku-controls img {
              width: 50%;
              height: 50%;
            }

div.controls-piccolo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

    div.piccolo-picture {
      margin: auto 0;
      padding-left: 50px;
    }

    div.piccolo-controls {
      /* margin: auto auto; */
    }
          div.piccolo-controls img {
            width: 50%;
            height: 50%;
          }

div.controls-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    div.kame-item, div.dragon-ball-item {
      margin: auto 0;
      padding-left: 50px
    }
    div.kame-text, div.dragon-ball-text {
      text-align: left;
      /* padding-right: 250px; */
    }

.dragonBalls1, .dragonBalls2, .kamesRecieved, .kamesRecieved2{
  font-size:13px;
}
    

